.all {
  /* height: 800px; */
  max-width: 500px;
  margin: auto;
  border-radius: 25px;
  border: #000 25px solid;
}
.main {
  background-color: #c9e4f5;
  margin: 0;
}
.header {
  background-color: #3a92cd;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer {
  background-color: #3a92cd;
  padding-top: 20px;
  padding-bottom: 20px;
}
